<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5a77b6de-afa8-4c2d-8b4c-e1f68d8066d3/resourceGroups/yas/providers/Microsoft.Web/sites/filazeroapisqlite</ResourceId>
    <ResourceGroup>yas</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://filazeroapisqlite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7826f6de-f041-4408-bbe8-f6d85323dc27</ProjectGuid>
    <PublishUrl>https://filazeroapisqlite.scm.azurewebsites.net/</PublishUrl>
    <UserName>$filazeroapisqlite</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>